<div class="box">
    <input type="text" placeholder="Codigo Proveedor" name="codigo" [(ngModel)]="model.codigo" #codigo="ngModel">
    <input type="text" placeholder="Nombre Proveedor" name="nombre" [(ngModel)]="model.nombre" #nombre="ngModel">    
    <input type="text" placeholder="Telefono" name="telefono" [(ngModel)]="model.telefono" #telefono="ngModel">
    <input type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel">
    <div class="boton" (click)="agregarProveedor()">
      <span class="btn two">Agregar Proveedor</span>
    </div>
</div>

<div class="listado-productos">
    <table class="table-fill">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th> 
          <th>Telefono</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of listadoProveedores | async">
          <td>{{proveedor.payload.val().codigo}}</td>
          <td>{{proveedor.payload.val().nombre}}</td> 
          <td>{{proveedor.payload.val().telefono}}</td>
          <td>{{proveedor.payload.val().email}}</td>
          <td>
              <img class="clickable" (click)="eliminarProveedor(proveedor.key)" src="../../../assets/img/eraser.svg" /> 
          </td>
        </tr>
      </tbody>    
    </table>
  </div>