<div class="box">
    <span class="post-tags">
        <span rel="tag" [ngClass]="{'active':seleccionadoEntrada }" (click)="seleccionarEntrada()">Entrada</span> 
        <span rel="tag" [ngClass]="{'active':seleccionadoSalida }" (click)="seleccionarSalida()">Salida</span>        
    </span>
    <br>
    <div class="form-group">
        <label for="producto">Producto</label><br>
        <select name="producto" [(ngModel)]="model.producto" #productos="ngModel">
            <option [ngValue]="producto" *ngFor="let producto of listadoProductos | async">{{producto.codigo}} - {{producto.nombre}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="seleccionadoEntrada">
        <label for="producto">Precio</label><br>
        <input type="text" placeholder="Precio" name="precio" [(ngModel)]="model.precio" #precio="ngModel" >        
    </div>
    <div class="form-group">
        <label for="producto">Cantidad</label><br>
        <input type="text" placeholder="Cantidad" name="cantidad" [(ngModel)]="model.cantidad" #cantidad="ngModel">        
    </div>
    <div class="form-group">
        <label for="producto">Fecha</label><br>
        <input type="date" placeholder="Fecha" name="fecha" [(ngModel)]="model.fecha" #fecha="ngModel">        
    </div>
    <div class="form-group" *ngIf="seleccionadoEntrada">
        <label for="producto">Proveedor</label><br>
        <select name="proveedor" [(ngModel)]="model.proveedor" #proveedor="ngModel" >
            <option [ngValue]="proveedor" *ngFor="let proveedor of listadoProveedores | async">{{proveedor.codigo}} - {{proveedor.nombre}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="seleccionadoSalida">
        <label for="producto">Persona</label><br>
        <select name="persona" [(ngModel)]="model.persona" #persona="ngModel">
            <option [ngValue]="persona" *ngFor="let persona of listadoPersonas | async">{{persona.codigo}} - {{persona.nombre}}</option>
        </select>
    </div>   
    <div class="boton" (click)="agregarEntrada()">
        <span class="btn two">Agregar entrada</span>
    </div>  
</div>



<div class="tablas-dobles">
    <div>
        <h1 class="titulo-tabla">Entradas</h1>
        <table class="table-fill">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha</th> 
                <th>Proveedor</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let kardex of listadoKardex | async">
                    <tr *ngIf="kardex.tipo == 'entrada'">
                        <td>{{kardex.producto.nombre}}</td>
                        <td>{{kardex.cantidad | number}}</td>
                        <td>{{kardex.fecha}}</td> 
                        <td>{{kardex.proveedor.nombre}}</td>
                        <td>{{kardex.precio | number}} CLP</td>                
                    </tr>
                </ng-container>            
            </tbody>    
        </table>
    </div>
    <div>
        <h1 class="titulo-tabla">Salidas</h1>
        <table class="table-fill">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th> 
                <th>Fecha</th>
                <th>Persona</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let kardex of listadoKardex | async">
                    <tr *ngIf="kardex.tipo == 'salida'">
                        <td>{{kardex.producto.nombre}}</td>
                        <td>{{kardex.cantidad | number}}</td>
                        <td>{{kardex.fecha}}</td> 
                        <td>{{kardex.persona.nombre}}</td>
                    </tr>
                </ng-container>            
            </tbody>    
        </table>
    </div>
</div>



