<div class="container">
    <div class="sub-nav--container">
        <ul class="subnav">
            <li><a class="inner-link" routerLinkActive="active" routerLink="/">Inicio</a></li>
            <li><a class="inner-link" routerLinkActive="active" routerLink="/inventario">Entrada / Salida</a></li>
            <li><a class="inner-link" routerLinkActive="active" routerLink="/personas">Personas</a></li>
            <li><a class="inner-link" routerLinkActive="active" routerLink="/productos">Productos</a></li>
            <li><a class="inner-link" routerLinkActive="active" routerLink="/proveedores">Proveedores</a></li>
        </ul>
    <!--END ul-->
    </div>
<!--END sub-nav-container -->
</div>
<router-outlet></router-outlet>

