<div class="box">
    <input type="text" placeholder="Nombre Producto" name="nombre" [(ngModel)]="model.nombre" #nombre="ngModel">
    <input type="text" placeholder="Codigo Producto" name="codigo" [(ngModel)]="model.codigo" #codigo="ngModel">
    <input type="text" placeholder="Cantidad Minima Producto" name="cantidadMinima" [(ngModel)]="model.cantidadMinima" #cantidadMinima="ngModel">
    <br>
    <div class="boton" (click)="agregarProducto()">
      <span class="btn two">Agregar Producto</span>
    </div>
</div>

<div class="listado-productos">
  <table class="table-fill">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th> 
        <th>Cantidad Minima</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of listadoProductos | async">
        <td>{{producto.payload.val().codigo}}</td>
        <td>{{producto.payload.val().nombre}}</td> 
        <td>{{producto.payload.val().cantidadMinima}}</td>
        <td>
            <img class="clickable" (click)="eliminarProducto(producto.key)" src="../../../assets/img/eraser.svg" /> 
        </td>
      </tr>
    </tbody>    
  </table>
</div>