/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOTON */

.boton {
    display: flex;
    justify-content: center;
}

.btn {
    cursor: pointer;
    width: 209px;
    padding: 20px 64px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: normal;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #FFF;
    background-color: #323232;
    border: 1px solid #1d1d1d;
    -webkit-box-shadow: 0 1px 0 rgba(23, 36, 45, 0.9);
    -moz-box-shadow: 0 1px 0 rgba(23,36,45,0.9);
    box-shadow: 0 3px 0 rgba(178, 76, 69, 0.9);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 18px 25px 18px 25px;
}

.btn:hover {
    background-color: rgb(67, 82, 95);
    border: 1px solid rgb(51, 67, 82);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;  
}

.btn.two {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased; 
}

.menu a{
    border: 1px solid #78B7BB;
    padding: 0.5em 1em;
    margin: 1em;
    text-decoration: none;
    color: #78B7BB;
    transition: all 0.5s;
}

.menu a:hover, .menu a:active, .activo{
    border: 1px solid #78B7BB;
    background-color: #78B7BB;
    color: #FFFFFF!important;
}

.diseno-boton {
    color: #fff;
    background-color: #0881A3;
    padding: 1em 2em;
    width: 15em;
    text-align: center;
    cursor: pointer;
}

.listado-productos{
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

input, select{
    padding: 1em 2em;
    margin: 0.5em;
}

/* TABLA */

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:rgb(148, 157, 168);
    color:#FFFFFF;
 }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:rgb(148, 157, 168);
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  td:last-child {
    border-right: 0px;
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }

/* Subnav */

.sub-nav--container {
    box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.3);
    height: 75px;
    background-color: white;
}

ul.subnav {
    position: relative;
    top: -10px;
    left: 0;
    width: 100%;
    color: #9e9e9e;
    text-align: center;
    height: 100%;
}

ul.subnav:-moz-selection {
    background: none;
}

ul.subnav::selection {
    background: none;
}

ul.subnav::-moz-selection {
    background: none;
}

ul.subnav li {
    margin: 0 5%;
    display: inline-block;
    position: relative;
    top: 50%;
}

ul.subnav li:first-child {
    margin-left: 0;
}

ul.subnav li:last-child {
    margin-right: 0;
}
/* Underline Hover Link */
ul.subnav li a {
    font-family: "Roboto", sans-serif;
    font-size: 1.0rem;
    font-weight: 500 !important;
    letter-spacing: 0.025em;
    -webkit-transition: 0.4s color;
    transition: 0.3s color;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
    cursor: pointer;
    text-transform: uppercase;
    color: #76838F;
    text-decoration: none;
    position: relative;
}

ul.subnav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: red;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
ul.subnav li a:hover {
    color: red;
}
ul.subnav li a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
ul.subnav li a.active {
    color: red;
}

ul.subnav li a.active::before {
    color: red;
    background-color: #d32f2f;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.box {
	width: 80%;
    margin: 1% auto;
    padding: 2.5%;
	text-align: center;
	background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

/* underlined link styles */

.post-tags span {
    display: inline-block;
    line-height: 30px;
    padding: 0 25px;
    color: #455a64;
    background-color: rgba(32,26,50,.05);
    border-radius: 15px;
}

.post-tags span:hover, .post-tags span:focus, .post-tags span:active {
    background-color: #2196f3;
    color: white;
}

.post-tags span.active {
    background-color: #1976d2;
    color: white;
}

.form-group{
    display: -webkit-inline-box;
}

.titulo-tabla{
    color: #FFF;
    text-align: center;
}

.clickable{
    cursor: pointer;
}

.editable{
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    background: transparent;
}

.faltante {
    background-color: red;
}